@charset "utf-8";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
  }
body {
/*カーソル*/
  cursor:default;

/*全体の指定*/
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  background-color: #CEE5D0;
  background-position: center;
  vertical-align: baseline;
  color: #353535;
}
/**/

/*リンクの点消し*/
ul{
  list-style: none;
}

/*ヘッダー*/
#header{
  width: 100%;
  height: 600px;
  background-image: url("../image/suna.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
h1{
  display: flex;
  justify-content: center;
  padding-top: 250px;
  margin-bottom: 0%;
  height: auto;
  color: #ffffff;
  font-size: 100px;
}

/*ナビ*/
nav{
  border-bottom: 1px solid #000000;
  font-weight: bold;
  font-size: 35px;
  position: sticky;
  top: 0;
  background-color: #b6d391;
  z-index: 9998;
}
nav ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
nav ul li{
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #000000;
}
nav ul li:first-child{
  border-left: 1px solid #000000;
}
nav ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #000000;
}
nav ul li a:hover{
  background-color:#57837B;
}

/*セクション*/
.section{
  display: block;
}
.inner{
  width: 100%;
  margin: 0 auto;
  padding: 100px 10px 10px 0px;
}
.section-title-block{
  text-align: center;
  margin-bottom: 30px;
}
.section-title{
  display: inline-block;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #353535;
}
.section-image{
  padding-right: 50px;
}

/*プロフィールコンテンツ*/
.profile-Contents{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
}
.profile-icon{
  padding-top: 100px;
  padding-left: 20px;
  width: 33%;
}
.profile-message{
  width: 65%;
  font-size: 30px;
}

/*スキルコンテンツ*/
.skill-Contents{
  width: 80%;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #000000;
  border-radius: .25rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}
.skill-Contents-title{
  margin-bottom: 3px;
  font-size: 26px;
  padding: 20px 24px 0px 24px;
  font-weight: bold;
}
.note{
  font-size: 20px;
  padding: 0;
}
.skills{
  text-align: left;
  font-size: 25px;
}
.skill-name{
  margin: 20px auto 0px 20px;
  font-weight: bold;
}
.skill-supplement{
  margin: 0px auto 0px 100px;
}

/*ワークスコンテンツ*/
.works-Contents{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.card {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #000000;
  border-radius: .25rem;
  flex-basis: 46%;
  margin-bottom: 50px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.work-desc {
  flex-basis: calc(100% - 75px - 30px);
}
.work-name {
  margin-bottom: 3px;
  margin: 10px auto 15px auto;
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}
.work-supplement{
  margin: 13px 25px 13px 25px;
  font-size: 25px;
}

/*フッター*/
footer{
  width: 100%;
  height: 50px;
  background-color: #b6d391;
  text-align: center;
  border-top: 1px solid #000000;
}
.copyright{
  display:inline-block;
  vertical-align: middle;
  color: #000000;
  font-size: 15px;
}